<i class="ri-flask-line column" style="text-align: center; font-size: 50px"></i>
<p>
  To bo nek opisek aplikacije. V eni ali dveh povedih bomo povedali kaj
  aplikacija dela.
</p>

<div class="is-fullwidth is-clickable" (click)="adminLogin()">
  <h6 class="title is-5 has-text-centered">Administrator sistema</h6>
  <h6 class="subtitle is-6 has-text-centered">Ima vse pravice, lahko ureja in kreira vse predmete. Dodaja obvestila na začetno stran.</h6>
  <table class="table is-fullwidth has-text-centered">
    <thead>
      <tr>
        <th>Email za prijavo</th>
        <th>Geslo za prijavo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>admin</td>
        <td>admin</td>
      </tr>
    </tbody>
  </table>
</div>

<hr/>

<div class="is-fullwidth is-clickable" (click)="profLogin()">
  <h6 class="title is-5 has-text-centered">Profesor</h6>
  <h6 class="subtitle is-6 has-text-centered">Ima pravice za dodajanje predmetov in urejanje predmetov, katerih je skrbnik (jih je ustvaril ali so mu bile dodeljene pravice)</h6>
  <table class="table is-fullwidth has-text-centered">
    <thead>
      <tr>
        <th>Email za prijavo</th>
        <th>Geslo za prijavo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>prof</td>
        <td>prof</td>
      </tr>
    </tbody>
  </table>
</div>

<hr/>

<div class="is-fullwidth is-clickable" (click)="studentLogin()">
  <h6 class="title is-5 has-text-centered">Študent</h6>
  <h6 class="subtitle is-6 has-text-centered">Lahko dostopa do javnih predmetov in predmetov v katere je vpisan. Ne more spreminjati predmetov in jih dodajati, lahko dodaja oddaje k kreiranim naloga in kupuje oddaje.</h6>
  <table class="table is-fullwidth has-text-centered">
    <thead>
      <tr>
        <th>Email za prijavo</th>
        <th>Geslo za prijavo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>student</td>
        <td>student</td>
      </tr>
    </tbody>
  </table>
</div>