<i class="ri-flask-line column" style="text-align: center; font-size: 50px"></i>
<p>
  <strong>ExchangeApp</strong> je informacijski sistem za izmenjavo testnih
  primerov, ki jih pedagogi in študenti uporabljajo v okviru pedagoškega procesa
  za testiranje pravilnosti programske kode.
</p>
<p>
  ExchangeApp pedagoiškim delavcem omogoča kreiranje nalog znotraj kreiranih
  predmetov. Znotraj vsake naloge lahko študenti oddajajo pare datotek
  <i>vhod-izhod</i>, ki predstavljajo vhodno in izhodno stanje podanega
  programa. Za vsak oddan testni primer, ki opravi določen test pravilnosti in
  test podobnosti, študent pridobi določeno število žetonov. Žetone lahko
  študent uporabi za nakup dodatnih testnih primerov s katerimi dodatno testira
  pravilnost svojega programa.
</p>
<p>
  Informacijski sistem sestavljajo: spletna aplikacija, REST API strežnik,
  sistem za preverjanje pravilnosti oddanih testnih primerov in sistem za
  preverjanje medsebojne podobnosti med oddanimi testnimi primeri.
</p>
<hr />
<p>
  Sistem je bil implementiran v okviru diplomske naloge Jakob Marušiča z
  naslovom
  <strong
    >Implementacija informacijskega sistema za medsebojno izmenjavo testnih
    primerov</strong
  >, ki je nastala pod mentorstvom docenta dr. Luke Fürsta.
</p>
