# gitignore for visual studio code

vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
history/

uploads/
logs/

docker-compose.yml
docker-compose-build-local.yml

database-data/