<div class="columns is-vcentered">
  <div class="column is-narrow">
    <button class="button is-outlined is-success is-small">
      <i class="ri-pencil-line"></i>
    </button>
  </div>
  <div class="column is-narrow">
    <button class="button is-outlined is-info is-small">
      <i class="ri-eye-line"></i>
    </button>
  </div>
  <div class="column is-narrow">
    <button class="button is-outlined is-info is-small">
      <i class="ri-eye-off-line"></i>
    </button>
  </div>
  <div class="column is-narrow">
    <button class="button is-outlined is-danger is-small">
      <i class="ri-delete-bin-7-line"></i>
    </button>
  </div>
  <div class="column">
    <h1 class="title">Domača naloga 1 - krmilni konstrukti</h1>
  </div>
</div>
<p>Tole je opis domače naloge, mogoče celo samo link do učilnice.</p>
<table class="table is-fullwidth is-hoverable">
  <tbody>
    <tr>
      <td>Status naloge</td>
      <td style="text-align: end">aktivna (do 21.12.2021)</td>
    </tr>
    <tr>
      <td>Število oddanih testnih primerov</td>
      <td style="text-align: end">50</td>
    </tr>
    <tr>
      <td>Omejitev oddaj</td>
      <td style="text-align: end">brez</td>
    </tr>
    <tr>
      <td>Število pridobljenih žetonov (na uspešno oddajo)</td>
      <td style="text-align: end">2</td>
    </tr>
    <tr>
      <td>Cena testnega primera</td>
      <td style="text-align: end">5</td>
    </tr>
  </tbody>
</table>
<h6 class="title is-5">Moje oddaje</h6>
<div class="table-container">
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>Datum oddaje</th>
        <th>Oznaka oddaje</th>
        <th>Status oddaje</th>
        <th>Pridobljenih žetonov</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12.10.2020</td>
        <td>41524db2</td>
        <td>oddano in potrjeno</td>
        <td>2</td>
        <td class="is-right-align">
          <a class="has-color-success">
            <i class="ri-eye-line"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>12.10.2020</td>
        <td>41524db2</td>
        <td>v pregledu</td>
        <td>-</td>
        <td class="is-right-align">
          <a class="has-color-success">
            <i class="ri-eye-line"></i>
          </a>
          <a>
            <i class="ri-delete-bin-7-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="columns">
  <div class="column is-narrow">
    <button class="button is-primary">Oddaj testni primer</button>
  </div>
  <div class="column is-narrow">
    <button class="button is-info">Kupi testne primere</button>
  </div>
</div>
