@import '../class.component.scss';

.has-no-border-danger {
  border: none;
  border-color: transparent;
  color: transparent;
  background-color: transparent;
  background: none;
  i {
    color: $danger;
  }
}