<div *ngIf="assignment.archived" class="notification is-warning">
  Naloga je bila arhivirana, s tem je bila onemogočena oddaja in nakup testnih
  primerov. Vsi testni primeri so na voljo za prenos.
</div>

<div class="columns is-vcentered">
  <div *ngIf="canEdit" (click)="onEditButtonClick()" class="column is-narrow">
    <button class="button is-outlined is-warning is-small">
      <i class="ri-pencil-line"></i>
    </button>
  </div>
  <div *ngIf="canEdit && !assignment.visible" class="column is-narrow">
    <button
      class="button is-outlined is-info is-small"
      (click)="onSetVisibilityClick()"
    >
      <i class="ri-eye-line"></i>
    </button>
  </div>
  <div *ngIf="canEdit && assignment.visible" class="column is-narrow">
    <button
      class="button is-outlined is-info is-small"
      (click)="onSetVisibilityClick()"
    >
      <i class="ri-eye-off-line"></i>
    </button>
  </div>
  <div class="column is-clickable" (click)="onAssignmentPressed()">
    <h1 class="title has-text-primary">
      {{ assignment.title }}
      <span *ngIf="!assignment.visible">[SKRITO]</span>
      <span *ngIf="assignment.archived">[ARHIVIRANO]</span>
    </h1>
  </div>
  <div
    *ngIf="this.assignment.classroomUrl != null"
    class="column is-narrow buttons"
  >
    <button
      (click)="onAssignmentTitlePressed()"
      class="button is-info is-outlined is-small"
    >
      <span class="icon"><i class="ri-external-link-line"></i></span>
    </button>
  </div>
</div>

<p class="subtitle is-5">{{ assignment.description }}</p>
<table class="table is-fullwidth is-hoverable">
  <tbody>
    <tr>
      <td>Status naloge</td>
      <td style="text-align: end">
        {{
          assignment.archived
            | assignmentStatus: assignment.startDate:assignment.endDate
        }}
      </td>
    </tr>
    <tr>
      <td>Število oddanih testnih primerov</td>
      <td style="text-align: end">
        {{ assignment.noOfSubmissionsTotal }} ({{
          assignment.noOfSubmissionsStudent
        }})
      </td>
    </tr>
    <tr>
      <td>Omejitev oddaj na študenta</td>
      <td style="text-align: end">
        {{ assignment.maxSubmissionsPerStudent | assignmentLimitSubmissions }}
      </td>
    </tr>
    <tr>
      <td>Skupna omejitev oddaj</td>
      <td style="text-align: end">
        {{ assignment.maxSubmissionsTotal | assignmentLimitSubmissions }}
      </td>
    </tr>
    <tr>
      <td>Število pridobljenih žetonov (na uspešno oddajo)</td>
      <td style="text-align: end">{{ assignment.coinsPerSubmission }}</td>
    </tr>
    <tr>
      <td>Cena testnega primera</td>
      <td style="text-align: end">{{ assignment.coinsPrice }}</td>
    </tr>
  </tbody>
</table>
