<div class="columns">
  <div class="column">
    <a>
      <button class="button-back" (click)="onBackButtonClick()">
        <span class="icon is-small">
          <i class="ri-arrow-left-s-line"></i>
        </span>
        <span> Nazaj </span>
      </button>
    </a>
  </div>
  <div class="column">
    <h1 class="title-centered is-3">Ponastavitev gesla</h1>
  </div>
  <div class="column"></div>
</div>
<div class="notification is-danger" *ngIf="error != null">{{ error }}</div>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email" [(ngModel)]="email" />
    <span class="icon is-small is-left">
      <i class="ri-mail-line"></i>
    </span>
  </p>
</div>
<button
  [ngClass]="{ 'is-loading': processing }"
  class="button is-fullwidth is-primary"
  style="margin-right: 2vw"
  (click)="onPasswordResetButtonPressed()"
>
  Ponastavi geslo
</button>
