<div style="min-height: 90vh">
  <app-navbar></app-navbar>
  <div class="columns">
    <app-sidemenu style="min-height: 100%"></app-sidemenu>
    <div class="column">
      <div class="box">
        <h2 class="title is-2">
          {{ user | userToString }}
        </h2>
        <h3 class="subtitle is-3">
          {{ user | userTypeToString }}
        </h3>
      </div>
      <div class="box">
        <h4 class="title is-3">Podatki o uporabniku</h4>
        <div class="columns">
          <div class="field column">
            <label class="label">Ime</label>
            <div class="control">
              <input
                [(ngModel)]="user.name"
                class="input"
                type="text"
                disabled
              />
            </div>
          </div>
          <div class="field column">
            <label class="label">Priimek</label>
            <div class="control">
              <input
                [(ngModel)]="user.surname"
                class="input"
                type="text"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Epošta</label>
          <div class="control">
            <input
              [(ngModel)]="user.email"
              class="input"
              type="text"
              disabled
            />
          </div>
        </div>

        <div class="field" *ngIf="user.personalNumber">
          <label class="label">Vpisna številka</label>
          <div class="control">
            <input
              [(ngModel)]="user.personalNumber"
              class="input"
              type="text"
              disabled
            />
          </div>
        </div>

        <div class="buttons">
          <button
            (click)="showPasswordChangeModal = true"
            class="button is-outlined is-warning has-icons-left"
          >
            <span class="icon">
              <i class="ri-lock-line"></i>
            </span>
            <span> Spremeni geslo </span>
          </button>
          <!-- <button class="button is-outlined is-danger has-icons-left">
            <span class="is-small icon is-left">
              <i class="ri-database-2-line"></i>
            </span>
            <span class="is-text"> Zahtevaj spremembo podatkov </span>
          </button> -->
        </div>
      </div>

      <!--       <div class="box">
        <h3 class="title is-3">
          Moji predmeti
        </h3>
      </div>

      <div class="box">
        <h3 class="title is-3">
          Kreirani predmeti
        </h3>
      </div>

      <div class="box">
        <h3 class="title is-3">
          Moje oddaje
        </h3>
      </div> -->
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!-- change password modal -->
<app-user-change-password
  *ngIf="showPasswordChangeModal"
  (onClose)="onModalClosed($event)"
></app-user-change-password>
