<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content container">
    <div class="box">
      <h2 class="title is-2">Zamenjava gesla uporabnika</h2>
      <div class="field">
        <label class="label has-text-weight-bold">Staro geslo</label>
        <div class="control">
          <input
            class="input"
            type="password"
            placeholder="Obstoječe geslo"
            [(ngModel)]="passwordOldInput"
          />
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-bold">Novo geslo</label>
        <div class="control">
          <input
            class="input"
            type="password"
            placeholder="Novo geslo"
            [(ngModel)]="passwordNewInput"
          />
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-bold">Ponovi novo geslo</label>
        <div class="control">
          <input
            class="input"
            type="password"
            placeholder="Novo geslo"
            [(ngModel)]="passwordNew2Input"
          />
        </div>
      </div>

      <div *ngIf="errorMessage" class="notification is-danger">
        {{ errorMessage }}
      </div>

      <button
        (click)="updatePassword()"
        class="button is-success is-fullwidth"
        [class.is-loading]="showLoading"
      >
        <span class="icon"><i class="ri-save-line"></i></span>
        <span>Zamenjaj geslo</span>
      </button>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="closeModal(true)"
  ></button>
</div>
