<div style="min-height: 90vh">
  <app-navbar></app-navbar>
  <div class="columns">
    <app-sidemenu style="min-height: 100%"></app-sidemenu>
    <div class="column">
      <div class="box">
        <div class="columns is-vcentered">
          <div *ngIf="course.userCanEditCourse" class="column is-narrow">
            <button
              (click)="onEditCourseButtonPressed()"
              class="button is-small is-warning is-outlined has-icons-left"
            >
              <span class="icon is-small">
                <i class="ri-pencil-line"></i>
              </span>
            </button>
          </div>
          <div class="column">
            <h1 class="title is-2">{{ course?.title }}</h1>
            <p class="subtitle is-6">
              Trenutno stanje žetonov: {{ course.usersCoins }}
            </p>
          </div>
        </div>
        <h2 class="subtitle is-4">
          skrbnik: {{ course?.guardianMain | userToString }}
        </h2>
        <p class="subtitle is-5">
          {{ course.description }}
        </p>
      </div>

      <app-loading
        style="height: 100vh"
        *ngIf="courseVisibility == courseAccess.LOADING"
      ></app-loading>

      <!-- user does not have rights to see class, class requires password -->
      <div *ngIf="courseVisibility == courseAccess.PASSWORD">
        <div class="box">
          <h1 class="title is-3">Vstop v predmet</h1>
          <p>Predmet do katerega želite dostopate je omejen z geslo.</p>
          <p>
            Pred dostopom do predmeta vpišite geslo, ki vam ga je posredoval
            skrbnik predmeta.
          </p>
          <div class="container" style="margin-top: 5vh">
            <div class="field has-addons">
              <div class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="ri-lock-password-line"></i>
                </span>
                <input
                  class="input"
                  type="text"
                  placeholder="Geslo za dostop"
                  [(ngModel)]="classPasswordInput"
                />
              </div>
              <div class="control">
                <a (click)="onPasswordInputClick()" class="button is-success">
                  Vstop
                </a>
              </div>
            </div>
            <p class="help is-danger" *ngIf="showClassPasswordError">
              Geslo za dostop ni pravilno.
            </p>
          </div>
        </div>
      </div>

      <!-- user does not have rights to see class, class requires password -->
      <div *ngIf="courseVisibility == courseAccess.BLOCKED">
        <div class="box">
          <h1 class="title is-3">Vstop v predmet</h1>
          <p class="has-text-danger">
            Predmet do katerega želite dostopate je omejen.
          </p>
          <p class="has-text-danger">
            Skrbnik predmeta vas ni dodal med uporabnike predmeta. Preden lahko
            nadaljujete kontaktirajte skrbnika.
          </p>
        </div>
      </div>

      <!-- user does not have rights to see class, probably is blacklisted -->
      <!-- <div
        *ngIf="
          course?.accessLevel != courseAccess.SECURED_PASSWORD && !userCanView
        "
      >
        <div class="box">
          <h1 class="title is-3">Vstop v predmet</h1>
          <p class="has-text-danger">
            Predmet do katerega želite dostopate je omejen.
          </p>
        </div>
      </div> -->

      <!-- user has rights to view or edit class -->
      <div *ngIf="courseVisibility == courseAccess.VISIBLE">
        <app-notifications
          [course]="course"
          [boxTitle]="'Obvestila izvajalca'"
          [hasRightToEdit]="course?.userCanEditCourse"
          [notifications]="course?.notifications"
        ></app-notifications>
        <div class="box">
          <div class="columns is-vcentered">
            <div *ngIf="course.userCanEditCourse" class="column is-narrow">
              <button
                (click)="onAssignmentNewButtonClick()"
                class="button is-small is-success is-outlined has-icons-left"
              >
                <span class="icon is-small">
                  <i class="ri-add-line"></i>
                </span>
              </button>
            </div>
            <h1 class="column title is-3">Naloge</h1>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input is-small"
                [(ngModel)]="searchInput"
                type="text"
                placeholder="Iskanje"
              />
              <span class="icon is-small is-left">
                <i class="ri-search-line"></i>
              </span>
            </p>
          </div>

          <div
            *ngFor="
              let element of assignmentsShow
                | filter: filteringFunction:searchInput
            "
          >
            <app-assignment
              *ngIf="element.visible || course.userCanEditCourse"
              [canEdit]="course.userCanEditCourse"
              [assignment]="element"
              [course]="course"
            ></app-assignment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer" style="height: 5vh">
  <div class="content has-text-centered">
    <p>2021</p>
  </div>
</footer>
