<div style="min-height: 90vh">
  <app-navbar></app-navbar>
  <div class="columns">
    <app-sidemenu style="min-height: 100%"></app-sidemenu>
    <div class="column">
      <app-notifications
        [boxTitle]="'Obvestila administratorja sistema'"
        [hasRightToEdit]="
          user == null ? false : accessService.adminAccess(user)
        "
        [notifications]="notifications"
      ></app-notifications>

      <app-error></app-error>

      <div class="box" *ngIf="showMyCourses">
        <h1 class="title is-3">Moji predmeti</h1>
        <app-dashboard-class
          *ngFor="let element of user.myCourses"
          class="box card"
          [course]="element"
        ></app-dashboard-class>
      </div>
      <div class="box">
        <h1 class="title is-3">Vsi predmeti</h1>
        <div class="field has-addons">
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Iskanje"
              [(ngModel)]="searchInput"
              (keyup)="searchFilter()"
            />
          </div>
          <div class="control">
            <a class="button is-info"> Išči </a>
          </div>
        </div>
        <div *ngIf="courses != null">
          <div *ngFor="let element of courses" class="box card">
            <app-dashboard-class [course]="element"></app-dashboard-class>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer" style="height: 5vh">
  <div class="content has-text-centered">
    <p>2021</p>
  </div>
</footer>
