<div style="min-height: 90vh">
  <app-navbar></app-navbar>
  <div class="columns">
    <app-sidemenu style="min-height: 100%"></app-sidemenu>
    <div class="column">
      <app-notifications
        [boxTitle]="'Obvestila administratorja sistema'"
        [hasRightToEdit]="
          user == null ? false : accessService.adminAccess(user)
        "
        [notifications]="notifications"
      ></app-notifications>

      <div class="box" *ngIf="showMyCourses">
        <h1 class="title is-3">Moji predmeti</h1>
        <app-dashboard-class
          *ngFor="let element of user.myCourses"
          class="box card"
          [course]="element"
        ></app-dashboard-class>
      </div>
      <div class="box">
        <h1 class="title is-3">Vsi predmeti</h1>
        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input is-small"
              [(ngModel)]="searchInput"
              type="text"
              placeholder="Iskanje"
            />
            <span class="icon is-small is-left">
              <i class="ri-search-line"></i>
            </span>
          </p>
        </div>

        <div *ngIf="courses != null">
          <div
            *ngFor="
              let element of courses | filter: filteringFuntion:searchInput
            "
            class="box card"
          >
            <app-dashboard-class [course]="element"></app-dashboard-class>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
