<div style="min-height: 90vh">
  <app-navbar></app-navbar>
  <div class="columns">
    <app-sidemenu style="min-height: 100%"></app-sidemenu>
    <div class="column">
      <app-notifications
        [boxTitle]="'Obvestila izvajalca'"
        [hasRightToEdit]="false"
        [notifications] = "notifications"
      ></app-notifications>

      <div class="box">
        <h1 class="title is-3">Moji predmeti</h1>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
      </div>
      <div class="box">
        <h1 class="title is-3">Vsi predmeti</h1>
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" placeholder="Iskanje" />
          </div>
          <div class="control">
            <a class="button is-info"> Išči </a>
          </div>
        </div>
        <h2 class="title is-4">Univerzitetni študij</h2>
        <h2 class="subtitle is-4">1. letnik</h2>
        <app-loading></app-loading>
        <h2 class="subtitle is-4">2. letnik</h2>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <h2 class="subtitle is-4">3. letnik</h2>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>

        <h2 class="title is-4">Visokošolski študij</h2>
        <h2 class="subtitle is-4">1. letnik</h2>
        <app-loading></app-loading>
        <h2 class="subtitle is-4">2. letnik</h2>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <h2 class="subtitle is-4">3. letnik</h2>
        <app-dashboard-class class="box card"></app-dashboard-class>
        <app-dashboard-class class="box card"></app-dashboard-class>
      </div>
    </div>
  </div>
</div>
<footer class="footer" style="height: 5vh">
  <div class="content has-text-centered">
    <p>2021</p>
  </div>
</footer>
