<div class="columns is-vcentered">
  <div class="column is-narrow">
    <button class="button is-small is-success is-outlined has-icons-left">
      <span class="icon is-small">
        <i class="ri-add-line"></i>
      </span>
    </button>
  </div>
  <h1 class="column title is-3">Obvestila izvajalca</h1>
</div>
<div class="box">
  <div class="field">
    <label class="label">Naslov objave</label>
    <div class="control">
      <input class="input" type="text" placeholder="Naslov objave" required />
    </div>
  </div>
  <div class="field">
    <label class="label">Telo objave</label>
    <div class="control">
      <textarea class="textarea" placeholder="Telo objave"></textarea>
    </div>
  </div>
  <div class="columns">
    <div class="column is-narrow">
      <button class="button is-success">Objavi</button>
    </div>
    <div class="column is-narrow">
      <button class="button is-danger is-outlined">Zavrzi</button>
    </div>
  </div>
</div>

<article class="message">
  <div class="message-header">
    <p>Testni sistem</p>
    <button class="button is-small is-danger is-outlined">
      <span class="icon is-small">
        <i class="ri-delete-bin-7-line"></i>
      </span>
    </button>
  </div>

  <div class="message-body">
    <p>Trenutno se nahajate na testnem sistemu.</p>
    <p>
      Zaradi velikega števila mogočih plagiatorstev, ki jih je zasledil
      avtomatski sistem za plagiatorstvo, bomo do nadaljnega vse oddaje ročno
      preverjali, plagiatorje pa brezmilostno kaznovali.
    </p>
    <p class="author-text">Objavil Jakob Marušič (27.10.2020)</p>
  </div>
</article>
