<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ponastavitev gesla</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma-fluent@0.4.3/css/bulma.min.css">
    <script>
        function resetPassword() {
            const passwordInput = document.getElementById("password-input").value;
            const passwordInput2 = document.getElementById("password-input2").value;
            const passwordResetId = "{{passwordResetId}}";

            if(passwordInput.length === 0) {
                alert("Geslo ne sme biti prazno");
                return;
            }

            if(passwordInput !== passwordInput2) {
                alert("Vnešeni gesli se ne ujemata");
                return;
            }
        }
    </script>
</head>
<body>
<div style="height: 100%">
    <div class="box is-vcentered" style="margin: 5vh">
        <div class="is-fullwidth is-centered">
            <h1 class="title has-text-centered is-2">Ponastavitev gesla</h1>
            <p class="has-text-centered">Vpišite željeno novo geslo:</p>
            <div class="field" style="margin: 2vh;">
                <input id="password-input" class="input" type="password" placeholder="Novo geslo"/>
            </div>
            <div class="field" style="margin: 2vh;">
                <input id="password-input2" class="input" type="password" placeholder="Ponovi novo geslo"/>
            </div>

            <div class="columns" style="margin: 2vh">
                <div class="column"></div>
                <div class="column">
                    <button onclick="resetPassword()" class="button is-fullwidth is-outlined">Ponastavi geslo</button>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>