@import '/src/styles.scss';

.outside-box {
    @extend .columns;
    @extend .is-vcentered;
    min-height: 90vh;
    min-width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.title-centered {
    @extend .title;
    text-align: center;
    margin-bottom: 0.5vh;
}

.opis-aplikacije {
    @extend .column;
    text-align: justify;
}

.opomba {
    @extend .is-size-7, .columns;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

.button-back {
    @extend .button;
    border-color: transparent;
}

.button-back:hover{
    border-color: transparent;
    border-bottom-color: $primary;
}

.button-back:focus{
    border-color: transparent;
}