<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content container">
    <div class="box">
      <h1 class="title is-2">Dodajanje uporabnikov predmetu</h1>

      <div class="notification is-warning">
        <p>
          Vnosi naj bodo v celoti sestavljeni iz ali epoštnega naslova ali iz
          vpisne številke. Vsak vnos naj zaseda eno vrstico, med vnosi naj ne bo
          ločil.
        </p>
      </div>
      <div class="notification is-warning">
        <p>Uporabnik bo na seznam dodan samo, če je v sistem že registriran.</p>
      </div>

      <div class="file is-boxed is-fullwidth" *ngIf="file == null">
        <label class="file-label">
          <input
            class="file-input"
            type="file"
            (change)="handleFileUpload($event)"
          />
          <span class="file-cta">
            <span class="file-icon">
              <i class="ri-upload-line"></i>
            </span>
            <span class="file-icon"> Naloži datoteke </span>
          </span>
        </label>
      </div>

      <div class="file is-boxed is-fullwidth" *ngIf="file != null">
        <label class="file-label">
          <input class="file-input" type="file" disabled />
          <span class="file-cta">
            <span class="file-icon">
              <i class="ri-file-line"></i>
            </span>
            <span class="file-icon"> Datoteka naložena </span>
          </span>
        </label>
      </div>

      <button
        (click)="readFile()"
        class="button is-primary is-fullwidth"
        [ngClass]="{ 'is-loading': processingFile }"
        *ngIf="file != null"
      >
        <span class="icon">
          <i class="ri-save-line"></i>
        </span>
        <span>Dodaj na seznam</span>
      </button>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="closeModal()"
  ></button>
</div>
