<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content container">
    <div class="box">
      <h1 class="title is-2">Pregled oddaje {{ submission.submissionId }}</h1>
      <div class="columns">
        <div class="column is-narrow tags has-addons">
          <span class="tag">Test pravilnost</span>
          <span
            class="tag"
            [ngClass]="{
              'is-success': submission.status === submissionStatus.OK,
              'is-danger': submission.status === submissionStatus.NOK,
              'is-primary': submission.status === submissionStatus.TIMEOUT,
              'is-info': submission.status === submissionStatus.PENDING_REVIEW,
              'is-warning': submission.status === submissionStatus.COMPILE_ERROR
            }"
          >
            {{ submission.status | submissionStatus }}
          </span>
        </div>
        <!-- <div class="column is-narrow tags has-addons">
          <span class="tag">Plagiat</span>
          <span class="tag is-warning">opozorilo</span>
        </div>
        <div class="column is-narrow tags has-addons">
          <span class="tag">Status</span>
          <span class="tag is-danger">zavrnjeno</span>
        </div> -->
      </div>
      <p>Datum oddaje: {{ submission.created | date: "dd.MM.yyyy" }}</p>
    </div>

    <div class="box">
      <article class="message is-primary">
        <div
          (click)="showInputPanel = !showInputPanel"
          class="message-header is-clickable"
        >
          <p>Vhodna datoteka</p>
        </div>
        <div *ngIf="showInputPanel" class="message-body">
          <pre style="margin: 0; padding: 0">
            <code [languages]="['java']" style="margin: 0; padding: 0;" [highlight]="submission.inputFile"></code>
          </pre>
        </div>
      </article>
      <article class="message is-primary">
        <div
          class="message-header is-clickable"
          (click)="showOutputPanel = !showOutputPanel"
        >
          <p>Izhodna datoteka</p>
        </div>
        <div *ngIf="showOutputPanel" class="message-body">
          <pre style="margin: 0; padding: 0">
            <code [languages]="['java']" style="margin: 0; padding: 0;" [highlight]="submission.outputFile"></code>
          </pre>
        </div>
      </article>

      <div *ngIf="showError">
        <article class="message is-warning">
          <div
            (click)="showErrorPanel = !showErrorPanel"
            class="message-header is-clickable"
          >
            <p>Referenčni izhod</p>
          </div>
          <div *ngIf="showErrorPanel" class="message-body">
            <pre style="margin: 0; padding: 0">
              <code [languages]="['java']" style="margin: 0; padding: 0;" [highlight]="submission.status === submissionStatus.NOK ? submission.expectedOutput : submission.diffOrErrorMessage"></code>
            </pre>
          </div>
        </article>
      </div>
    </div>

    <!-- <div class="box">
      <div class="columns">
        <div class="column">
          <h3 class="title is-4">Test pravilnost</h3>
        </div>
        <div class="column is-narrow">
          <span class="tag is-danger">NOK</span>
        </div>
      </div>

      <h3 class="subtitle is-5">Pričakovan izhod</h3>
      <pre style="margin: 0; padding: 0" class="container">
        <code [languages]="['java']" style="margin: 0; padding: 0;" [highlight]="submission.outputFile"></code>
      </pre>
    </div> -->

    <!-- <div class="box">
      <div class="columns">
        <div class="column">
          <h3 class="title is-4">Test plagiatorstva</h3>
        </div>
        <div class="column is-narrow">
          <span class="tag is-warning">Opozorilo</span>
        </div>
      </div>

      <div class="table-container">
        <table class="table table is-fullwidth table is-hoverable">
          <thead>
            <tr>
              <th>Oznaka oddaje</th>
              <th>Odstotek podobnosti</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="has-background-danger-light">
              <td>3641</td>
              <td>96</td>
              <td class="is-narrow">
                <div class="columns">
                  <div class="column is-narrow">
                    <a class="button is-info is-small is-outlined">
                      <i class="ri-eye-line"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="has-background-warning-light">
              <td>6451</td>
              <td>64</td>
              <td class="is-narrow">
                <div class="columns">
                  <div class="column is-narrow">
                    <a class="button is-info is-small is-outlined">
                      <i class="ri-eye-line"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>36</td>
              <td>16</td>
              <td class="is-narrow">
                <div class="columns">
                  <div class="column is-narrow">
                    <a class="button is-info is-small is-outlined">
                      <i class="ri-eye-line"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

    <!-- <div class="box">
      <div class="columns">
        <div class="column">
          <button class="button is-success has-icons-left is-fullwidth">
            <span class="icon is-small">
              <i class="ri-save-line"></i>
            </span>
            <span> Potrdi oddajo </span>
          </button>
        </div>
        <div class="column">
          <button
            class="button is-danger is-outlined has-icons-left is-fullwidth"
          >
            <span class="icon is-small">
              <i class="ri-delete-bin-7-line"></i>
            </span>
            <span> Zavrni kot plagiat </span>
          </button>
        </div>
      </div>
    </div> -->
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="closeModal()"
  ></button>
</div>
