<div style="min-height: 90vh">
  <app-navbar></app-navbar>
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading" class="columns">
    <app-sidemenu style="min-height: 100%"></app-sidemenu>
    <div class="column">
      <div class="box">
        <h1 class="title is-2">{{ assignment.title }}</h1>
        <h5 class="subtitle is-5">{{ assignment.description }}</h5>
        <div class="table-container">
          <table class="table is-fullwidth is-hoverable">
            <tbody>
              <tr>
                <td>Status naloge</td>
                <td style="text-align: end">
                  {{
                    assignment.archived
                      | assignmentStatus
                        : assignment.startDate
                        : assignment.endDate
                  }}
                </td>
              </tr>
              <tr>
                <td>Število oddanih testnih primerov</td>
                <td style="text-align: end">
                  {{ assignment.noOfSubmissionsTotal }} ({{
                    assignment.noOfSubmissionsStudent
                  }})
                </td>
              </tr>
              <tr>
                <td>Omejitev oddaj na študenta</td>
                <td style="text-align: end">
                  {{
                    assignment.maxSubmissionsPerStudent
                      | assignmentLimitSubmissions
                  }}
                </td>
              </tr>
              <tr>
                <td>Skupna omejitev oddaj</td>
                <td style="text-align: end">
                  {{
                    assignment.maxSubmissionsTotal | assignmentLimitSubmissions
                  }}
                </td>
              </tr>
              <tr>
                <td>Število pridobljenih žetonov (na uspešno oddajo)</td>
                <td style="text-align: end">
                  {{ assignment.coinsPerSubmission }}
                </td>
              </tr>
              <tr>
                <td>Cena testnega primera</td>
                <td style="text-align: end">{{ assignment.coinsPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="assignment.allSubmissions" class="box">
        <h3 class="title is-4">Pregled oddaj</h3>
        <div class="table-container">
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th class="is-narrow"></th>
                <th>Avtor</th>
                <th>Vhodna datoteka</th>
                <th>Izhodna datoteka</th>
                <th>Test pravilnosti</th>
                <th>Test podobnosti</th>
                <th
                  class="has-tooltip-arrow has-tooltip-left"
                  data-tooltip="Če status ni OK, za oddajo ne pridobite žetonov"
                >
                  Status oddaje
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of assignment.allSubmissions; let i = index">
                <td class="is-narrow has-text-right">{{ i + 1 }}</td>
                <td>{{ item.author | userToString }}</td>
                <td>{{ item.input }}</td>
                <td>{{ item.output }}</td>
                <td class="has-text-centered">
                  <span
                    [attr.data-tooltip]="
                      item.correctnessStatus | submissionStatus
                    "
                    class="icon has-tooltip-arrow has-tooltip-left"
                    [ngClass]="{
                      'has-text-success':
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.OK,
                      'has-text-danger':
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.NOK,
                      'has-text-warning':
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.COMPILE_ERROR ||
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.TIMEOUT
                    }"
                  >
                    <i
                      *ngIf="
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.OK
                      "
                      class="ri-check-line"
                    ></i>
                    <i
                      *ngIf="
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.NOK
                      "
                      class="ri-close-line"
                    ></i>
                    <i
                      *ngIf="
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.COMPILE_ERROR ||
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.TIMEOUT
                      "
                      class="ri-error-warning-line"
                    ></i>
                  </span>
                </td>
                <td class="has-text-centered">
                  <span
                    [attr.data-tooltip]="getTooltipText(item)"
                    class="icon has-text-info has-tooltip-arrow has-tooltip-left"
                    [ngClass]="{
                      'has-text-success':
                        item.similarityStatus === submissionSimilarityStatus.OK,
                      'has-text-danger':
                        item.similarityStatus ===
                        submissionSimilarityStatus.NOK,
                      'has-text-warning':
                        item.similarityStatus ===
                        submissionSimilarityStatus.WARNING
                    }"
                  >
                    <i
                      *ngIf="
                        item.similarityStatus === submissionSimilarityStatus.OK
                      "
                      class="ri-check-line"
                    ></i>
                    <i
                      *ngIf="
                        item.similarityStatus === submissionSimilarityStatus.NOK
                      "
                      class="ri-close-line"
                    ></i>
                    <i
                      *ngIf="
                        item.similarityStatus ===
                        submissionSimilarityStatus.WARNING
                      "
                      class="ri-error-warning-line"
                    ></i>
                    <i
                      *ngIf="
                        item.similarityStatus ===
                          submissionSimilarityStatus.NOT_TESTED ||
                        item.similarityStatus ===
                          submissionSimilarityStatus.PENDING_REVIEW
                      "
                      class="ri-question-mark"
                    ></i>
                  </span>
                </td>
                <td>
                  {{ item | submissionStatusInTable}}
                  <!-- <div
                    *ngIf="
                      (item.similarityStatus ===
                        submissionSimilarityStatus.OK ||
                        item.similarityStatus ===
                          submissionSimilarityStatus.WARNING) &&
                      item.correctnessStatus === submissionCorrectnessStatus.OK
                    "
                  >
                    Ok
                  </div>
                  <div
                    *ngIf="
                      (item.similarityStatus !==
                        submissionSimilarityStatus.OK &&
                        item.similarityStatus !==
                          submissionSimilarityStatus.WARNING) ||
                      item.correctnessStatus !== submissionCorrectnessStatus.OK
                    "
                  >
                    Ni ok
                  </div> -->
                </td>
                <td class="is-narrow">
                  <div class="columns">
                    <div class="column is-narrow">
                      <a
                        (click)="onTableRowViewPressed(item)"
                        data-tooltip="Odpri testni primer"
                        class="has-no-border is-outlined has-text-info has-tooltip-left"
                      >
                        <i class="ri-eye-line"></i>
                      </a>
                    </div>
                    <div class="column is-narrow">
                      <a
                        (click)="onTableRowDownloadPressed(item)"
                        data-tooltip="Prenesi testni primer"
                        class="has-no-border is-outlined has-text-success has-tooltip-left"
                      >
                        <i class="ri-download-line"></i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="box">
        <h3 class="title is-4">Moje oddaje</h3>
        <div class="buttons">
          <button
            *ngIf="showAddSubmissionButton"
            (click)="showAddSubmissionBox = true"
            class="button is-outlined is-success"
          >
            <span class="icon">
              <i class="ri-add-line"></i>
            </span>
            <span>Dodaj novo objavo</span>
          </button>
          <button
            (click)="downloadMySubmissions()"
            *ngIf="showDownloadMySubmissions"
            class="button is-outlined is-info"
          >
            <span class="icon">
              <i class="ri-download-line"></i>
            </span>
            <span>Prenesi vse oddane</span>
          </button>
        </div>
        <div
          class="table-container"
          *ngIf="
            assignment.mySubmissions != null &&
            assignment.mySubmissions.length > 0
          "
        >
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th class="is-narrow"></th>
                <th>Vhodna datoteka</th>
                <th>Izhodna datoteka</th>
                <th>Test pravilnosti</th>
                <th>Test podobnosti</th>
                <th
                  class="has-tooltip-arrow has-tooltip-left"
                  data-tooltip="Če status ni OK, za oddajo ne pridobite žetonov"
                >
                  Status oddaje
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of assignment.mySubmissions; let i = index">
                <td class="is-narrow has-text-right">{{ i + 1 }}</td>
                <td>{{ item.input }}</td>
                <td>{{ item.output }}</td>
                <td class="has-text-centered">
                  <span
                    [attr.data-tooltip]="
                      item.correctnessStatus | submissionStatus
                    "
                    class="icon has-tooltip-arrow has-tooltip-left"
                    [ngClass]="{
                      'has-text-success':
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.OK,
                      'has-text-danger':
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.NOK,
                      'has-text-warning':
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.COMPILE_ERROR ||
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.TIMEOUT
                    }"
                  >
                    <i
                      *ngIf="
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.OK
                      "
                      class="ri-check-line"
                    ></i>
                    <i
                      *ngIf="
                        item.correctnessStatus ===
                        submissionCorrectnessStatus.NOK
                      "
                      class="ri-close-line"
                    ></i>
                    <i
                      *ngIf="
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.COMPILE_ERROR ||
                        item.correctnessStatus ===
                          submissionCorrectnessStatus.TIMEOUT
                      "
                      class="ri-error-warning-line"
                    ></i>
                  </span>
                </td>
                <td class="has-text-centered">
                  <span
                    [attr.data-tooltip]="getTooltipText(item)"
                    class="icon has-text-info has-tooltip-arrow has-tooltip-left"
                    [ngClass]="{
                      'has-text-success':
                        item.similarityStatus === submissionSimilarityStatus.OK,
                      'has-text-danger':
                        item.similarityStatus ===
                        submissionSimilarityStatus.NOK,
                      'has-text-warning':
                        item.similarityStatus ===
                        submissionSimilarityStatus.WARNING
                    }"
                  >
                    <i
                      *ngIf="
                        item.similarityStatus === submissionSimilarityStatus.OK
                      "
                      class="ri-check-line"
                    ></i>
                    <i
                      *ngIf="
                        item.similarityStatus === submissionSimilarityStatus.NOK
                      "
                      class="ri-close-line"
                    ></i>
                    <i
                      *ngIf="
                        item.similarityStatus ===
                        submissionSimilarityStatus.WARNING
                      "
                      class="ri-error-warning-line"
                    ></i>
                    <i
                      *ngIf="
                        item.similarityStatus ===
                          submissionSimilarityStatus.NOT_TESTED ||
                        item.similarityStatus ===
                          submissionSimilarityStatus.PENDING_REVIEW
                      "
                      class="ri-question-mark"
                    ></i>
                  </span>
                </td>
                <td>
                  <div
                    *ngIf="
                      (item.similarityStatus ===
                        submissionSimilarityStatus.OK ||
                        item.similarityStatus ===
                          submissionSimilarityStatus.WARNING) &&
                      item.correctnessStatus === submissionCorrectnessStatus.OK
                    "
                  >
                    Ok
                  </div>
                  <div
                    *ngIf="
                      (item.similarityStatus !==
                        submissionSimilarityStatus.OK &&
                        item.similarityStatus !==
                          submissionSimilarityStatus.WARNING) ||
                      item.correctnessStatus !== submissionCorrectnessStatus.OK
                    "
                  >
                    Ni ok
                  </div>
                </td>
                <td class="is-narrow">
                  <div class="columns">
                    <div class="column is-narrow">
                      <a
                        (click)="onTableRowViewPressed(item)"
                        data-tooltip="Odpri testni primer"
                        class="has-no-border is-outlined has-text-info has-tooltip-left"
                      >
                        <i class="ri-eye-line"></i>
                      </a>
                    </div>
                    <div class="column is-narrow">
                      <a
                        (click)="onTableRowDownloadPressed(item)"
                        data-tooltip="Prenesi testni primer"
                        class="has-no-border is-outlined has-text-success has-tooltip-left"
                      >
                        <i class="ri-download-line"></i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="box">
        <h3 class="title is-4">Kupljene oddaje</h3>
        <div class="buttons">
          <button
            *ngIf="showBuySubmissionsButton"
            (click)="showBuySubmissionBox = true"
            class="button is-outlined is-success"
          >
            <span class="icon">
              <i class="ri-add-line"></i>
            </span>
            <span>Kupi oddaje</span>
          </button>
          <button
            *ngIf="showDownloadBoughtSubmissionsButton"
            class="button is-outlined is-info"
          >
            <span class="icon">
              <i class="ri-download-line"></i>
            </span>
            <span>Prenesi vse kupljene</span>
          </button>
        </div>
        <div
          class="table-container"
          *ngIf="
            assignment.boughtSubmissions != null &&
            assignment.boughtSubmissions.length > 0
          "
        >
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th class="is-narrow"></th>
                <th>Vhodna datoteka</th>
                <th>Izhodna datoteka</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of assignment.boughtSubmissions; let i = index"
              >
                <td class="is-narrow has-text-right">{{ i + 1 }}</td>
                <td>{{ item.input }}</td>
                <td>{{ item.output }}</td>
                <td class="is-narrow">
                  <div class="columns">
                    <div class="column is-narrow">
                      <a
                        (click)="onTableRowViewPressed(item)"
                        data-tooltip="Odpri testni primer"
                        class="has-no-border is-outlined has-text-info has-tooltip-left"
                      >
                        <i class="ri-eye-line"></i>
                      </a>
                    </div>
                    <div class="column is-narrow">
                      <a
                        (click)="onTableRowDownloadPressed(item)"
                        data-tooltip="Prenesi testni primer"
                        class="has-no-border is-outlined has-text-success has-tooltip-left"
                      >
                        <i class="ri-download-line"></i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="box" *ngIf="showBuySubmissionBox">
          <div class="notification is-warning">
            <p>Trenutno število žetonov: {{ course.usersCoins }}</p>
          </div>
          <div class="notification is-danger" *ngIf="buyingErrorMesage">
            <p>{{ buyingErrorMesage }}</p>
          </div>
          <label class="label">Število testnih primerov</label>
          <div class="field has-addons">
            <div class="control">
              <input
                class="input"
                type="number"
                min="1"
                [(ngModel)]="submissionBuyQuantityInput"
              />
            </div>
            <div class="control">
              <a
                class="button is-success is-outlined"
                (click)="onSubmissionsBuyButtonPressed()"
              >
                Kupi
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- modal detailed submission -->
<app-submission-detailed-modal
  *ngIf="submissionModalSubmission != null"
  [submission]="submissionModalSubmission"
  [assignment]="assignment"
  (onClose)="onSubmissionDetailedModalClosed()"
></app-submission-detailed-modal>

<!-- modal add submission -->
<app-submission-add
  [assignment]="assignment"
  (onClose)="onSubmissionAddModalClosed($event)"
  *ngIf="showAddSubmissionBox"
></app-submission-add>
